.ContentWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Headline {
  color: #ccc;
  font-size: 3rem;
  font-weight: 700;
}

.SaveButton {
  background: green;
  border: 0;
  padding: 1rem 4rem;
  border-radius: 100000px;
  max-width: 300px;
  margin: auto;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
