.EditToTer {
  background-color: #5c446f;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
